{
	"token": "",
	"serverId": "",
	"worldDB": {
		"host": "",
		"user": "",
		"password": "",
		"database": ""
	},
	"botOwnerId": "",
	"excludedChannels": [],
  "itemLinkCooldownMS": 5000,
	"cooldownWarnings": [],
  "downtimeNotifier": {
    "processName": "",
    "checkInterval": 10000,
    "channelId": "",
    "downmessage": "@everyone, the world server has stopped. The server is currently offline.",
    "upmessage": "@everyone, the world server has been started. The server is currently online."
  },
  "welcomeMessage": "",
  "siteName": "",
  "siteUrl": ""
}
