{
	"token": "",
	"serverId": "",
	"worldDB": {
		"host": "",
		"user": "",
		"password": "",
		"database": ""
	},
	"botOwnerId": "",
	"excludedChannels": [],
  "itemLinkCooldownMS": 5000,
	"cooldownWarnings": [],
  "downtimeNotifier": {
    "enabled": true,
    "processName": "",
    "checkInterval": 10000,
    "channelId": "",
    "downmessage": "@everyone, the world server has stopped. The server is currently offline.",
    "upmessage": "@everyone, the world server has been started. The server is currently online."
  },
  "welcomeMessage": "",
  "siteName": "",
  "siteUrl": "",
  "emoji": {
    "nobugs": "<:nobugs:448644710878281728>"
  },
  "worldChat": {
    "checkInterval": 30000,
    "logfile": "",
    "channelId": "",
    "chatPrefix": ""
  },
  "gmCommandLog": {
    "checkInterval": 60000,
    "logfile": "",
    "channelId": ""
  }
}
